<footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
            {% trans %}Published{% endtrans %}: {{ article.locale_date }}
        </abbr>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
            {% trans %}Updated{% endtrans %}: {{ article.locale_modified }}
        </abbr>
        {% endif %}

        {% if article.author %}
        <address class="vcard author">
            {% trans %}By{% endtrans %} <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
        {% endif %}
        <p>{% trans %}In{% endtrans %} <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>. {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">{% trans %}get the pdf{% endtrans %}</a>{% endif %}</p>
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
